<h1>Patient: </h1>
<%= @patient.name %> <br>
<p>Appointment:</p>
<% @patient.appointments.each do |app|%>
<%= app.appointment_datetime.strftime("%B %d, %Y at %H:%M")%><br>
<%= link_to app.doctor.name, doctor_path(app.doctor) %><br>
<% end %>
